/* CSS declarations go here */

.pink{
  background-color:#C70780;
}
.hero {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.dark-blue{
  background-color:#0C1153;
}

.dark-blue-font{
  font-color:#0C1153;
}

.purple{
  background-color:#5F005B;
}

.purple-font{
  font-color:#5F005B;
}

.medium-blue{
  background-color:#66C1DC;
}

.medium-blue-font{
  font-color:#66C1DC;
}

.light-yellow{
  background-color:#ECE1AD;
}

.light-yellow-font{
  font-color:#ECE1AD;
}

.light-blue{
  background-color:#A0E2FC;
}

.min-width-well{
  min-width:340px;
}

.light-blue-font{
  font-color:#A0E2FC;
}

.light-grey{
  background-color: #D3D3D3;
}

.rounded-corners{
  -moz-border-radius: 10px;
  border-radius:10px;
}

svg {
 height:205px; 
}

body {
font-family: Georgia;
background-image:#0C1153;
color: #333;
}

.search {
	border-radius: 15%;
}

ul {
	 list-style: none;
}

li {
	 line-height: 1.5em;
}

li:hover {
				 background: pink;
}

.playlist span {
					margin: 100px;
					width: 100px;
}

.long-fixed-height-with-overflow {
  display: block;
  height: 350px;
  overflow-y: scroll;
}

.short-fixed-height-with-overflow {
  display: block;
  height: 310px;
  overflow-y: scroll;
}

.width-50 {
  width: 50%;
}

.word-wrap {
  word-wrap:break-word
}

.margin-top{
  margin-top: 10px;
}

.block-300-by-30px{
  display:block;
  height:30px;
  width:300px;
}

.fixed-width-150px {
  width:150px;
}
